*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
html{
  height: 100%;
  width: 100%;
}
body{
  margin: 0;  
  overflow: auto;
  width: 100%;
  height: calc(100% - 70px - 60px);
  /* background-color: #e0f0ed; */
  background-color: #f0eee6;
}
#Home, .Medicine {
  width: 100%;
  min-height: 100%;
  margin-top: 70px !important;
  margin-bottom: 60px;
  width: 100%;
  padding: 0 15px;
  overflow-x: hidden;
  /* padding-bottom: 90px !important;    */
}

 .chatbot-home{
  width: 100%;
  min-height: 100%;
  margin-top: 70px !important;
  margin-bottom: 60px;
 }
