/* Main container */
.all-general-doctors {
  margin: 70px 0 0;
  min-height: calc(100vh - 60px);
}

.all-general-doctors .allGeneralDoctor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* 2 per row when possible */
  gap: 0.5rem; /* equal space between cards */
  padding: 0.5rem; /* equal space around the whole grid */
  justify-content: center; /* centers cards if fewer than full row */
  
}

/* Heading */
.all-general-doctors h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #000000;
}

