/* Main container */
.all-general-doctors {
  margin: 70px 0 0;
  padding: 0.5rem;
  min-height: calc(100vh - 60px);
}

.allGeneralDoctor-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

/* Heading */
.all-general-doctors h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #000000;
}

/* Doctor list grid */
.all-general-doctors .doctorPage-cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin: 0 auto;
}
