/* main page of doctor.jsx */
.doctor-container {
  margin: 70px 0 0;
  min-height: calc(100vh-60px);
}

.doctor-container .doctorPage-Link-headings {
  text-decoration: none;
  color: #000000;
}

/* doctor list container */
.doctor-container .doctorPage-cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
}

/* view all doctor and specialist link */
.doctor-list-container .view-all-doctors {
  text-align: end;
}

.specialists-list-container .view-all-specialists {
  text-align: end;
}
