.navbar {
  background-color: #f0eee6;
  padding: 10px;
  position: fixed;
  width: 100vw;
  height: 60px;
  bottom: 0;
  left: 0;
  border-top: 1px solid #6e6e6e;
  z-index: 100;
  display: flex;
  align-items: center;
}
.navbar .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .links a {
  width: 55px;
  height: 55px;
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  /* border-radius: 8px; */
}
.navbar .links img {
  height: 24px;
  width: 24px;
  /* margin-bottom: 3px; */
}

.navbar .links p{
  padding: 0;
  margin: 0;
  font-size: 70%;
}

.navbar .selected {
  background: #c9d6df;
  border-radius: 50%;
  padding: 6px;
}
